[include]
	path = ~/.gitconfig.local

[includeIf "gitdir:/Users/lucas/src/lucas-shs/"]
	path = ~/.gitconfig-lucas-shs

[core]
	excludesfile = ~/.gitignore_global
[pager]
	diff = diffnav

[fetch]
	prune = true
	prunetags = true

[pull]
	rebase = true

[rebase]
	autostash = true
	autosquash = true

[alias]
	gone = !git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D
	changes = "!f() { git diff ${1:-origin/main}; }; f"
[maintenance]
	repo = /Users/lucas/dotfiles
